.theme {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
